.search-item {
    display: flex;
    flex-direction: column;
}

.location {
    display: flex;
    flex-direction: column;
}

.search-item-top {
    font-size: 12px;
    font-weight: bold;
}

.search-item-bottom {
    font-size: 14px;
    color: grey;
    margin-top: 2px;
}

.search-item input[type="date"] {
    border: none;
    font-family: 'airbnb-light';
    font-size: 14px;
    color: grey;
    margin-top: 2px;
    outline: none;
}

.search-item input[type="date"]:hover,
.search-item input[type="date"]:focus {
    border-bottom: 1px solid rgb(244, 244, 244);
}
